
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista das categorias (Clicar em uma categoria para modificar)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-8 col-md-6 col-lg-4">
                        <form method="GET">
                            <div class="input-group custom-search-form">
                                <input type="text" name="name" class="form-control" placeholder="Buscar...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div> 

                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th style="width: 35%">Nome da categoria:</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for category in object_list %}
                            <tr class="even gradeA">
                                <td style="width: 25%"><a href="{% url 'category-edit' category.pk %}">{{ category.name }}</a></td>
                                <td><span><a href="{% url 'category-edit' category.pk %}"><i class="fa fa-edit fa-fw" title="Editar está categoria"></i></a></span>
                                    <span><a href="forms.html"><i class="fa fa-fw" title="Remover está categoria">&#xf014</i></span>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <td>Sem categoria</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.pagination -->
<div class="row text-center">
    <div class="col-lg-12">
            {% if is_paginated %}
            <hr>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-sm">
                    {% if page_obj.has_previous %}
                    <!-- If it ain't a search result display, don't append the search query
                        to the URL. -->
                    {% if not search %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'category-list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                    {% else %}
                    <!-- Append the searched query to the URL, so that on a search results page,
                        the pagination don't revert to listing all the listview items. -->
                        <li class="page-item">
                        <a class="page-link" href="{% url 'category-list' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    {% endif %} 
                    {% for object in page_obj.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="{% url 'category-list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %} 
                    {% if page_obj.has_next %}
                    {% if not search %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'category-list' %}?page={{ page_obj.next_page_number }}">Próximo</a>
                    </li>
                    {% else %}
                        <li class="page-item">
                        <a class="page-link" href="{% url 'category-list' %}?{{search}}&page={{ page_obj.next_page_number }}">Próximo</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próximo</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    </div>
</div>
    